version: "3.8"
services:
  CStudy-redis:
    container_name: study-redis
    build:
      dockerfile: Dockerfile
      context: ./redis
    image: immunogen/study-redis
    ports:
      - "6379:6379"
  CStudy-database:
    container_name: study-database
    build:
      dockerfile: Dockerfile
      context: ./database
    image: immunogen/study-database
    environment:
    - MYSQL_DATABASE=CStudy
    - MYSQL_ROOT_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    volumes:
      - ./database/config:/etc/mysql/conf.d
    ports:
      - "3306:3306"
